@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif;
}

body{
  min-height:100vh;
/*   display: inline-block; */
}

.nav{
    background-color: black;
    color: white;
    padding: 20px 80px;
    transition: .4s ease-in-out;
}

.nav,.nav-links,.logo{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.nav-links *{
    margin: 0 10px;
}

.logo-text{
    font-size: 34px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
  display:none;
}

.logo-img{
    height: 55px;
/*   margin: -30px -20px; */
}

.nav a{
    color: white;
    text-decoration: none;
}

.kalvi-logo{
    height: 34px;
}

.active{
    height: auto;
}

.active .nav, .active .nav-links{
    flex-direction: column;
}

.active .nav-links,.active.nav .kalvi-logo{
    display: block;
}

.hemb{
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    height: 20px;
}

.hemb div{
    height: 3px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
}
#hero{
    height: 350px;
    background: url("./assets/hero-bg.jpg") center;
    background-size: cover;
    color: white;
    padding: 50px  100px;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 34px;
    background-color: rgba(0, 0, 0, 0.24);
    background-blend-mode:multiply;
    transition: .5s ease-in;
    position: relative;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search{
    visibility: hidden;
    display: flex;
    height: 50px;
    width: 55vw;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    padding: 5px 0;
}
.search input{
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px
}
.search p{
    color: grey;
    border-right: 1px solid grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 10px;
}
.search i:first-child{
    font-size: 20px;
    color: rgb(252,119,119);
    padding-left: 10px;
    padding-right: 10px;
}
.search i{
    color: grey;
    font-size: 20px;
    padding-left: 10px;
}
.offers{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(34, 23, 23);
}
.sec1{
    display: flex;
    justify-content: center;
    margin-bottom: 13vh;
    margin-top: 10px;
}
.box{
    position: relative;
    width: 300px;
    height: 250px;
    margin: 3px 10px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 1px 2px grey;
    background-color: rgb(243,240,240); 
}
.off{
    position: absolute;
    transform: rotate(-90deg);
    left:-20px;
    bottom: 90px;
}
.box img{
    width: 300px;
    border-radius: 15px 15px 15px 0px;
    z-index: -1;
    border: 1px solid (204,203,203);
}
.box:hover{
    display: block;
    transform: rotateX(3deg);
    transform: rotateY(3deg);
    transform: rotateZ(3deg);
    transition: 1s;
    font-size: 25px;
    background-color: #ef3837;
}
.box:hover .off{
    color:white;
    transition: 500ms;
}
.white{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 3px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: white;
    width: 100%;
    height: 20%;
    z-index: 2;
}
.white p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: rgb(56,56,56);
    letter-spacing: 0.7px;
}


.hero-text{
    margin: -10px;
}

#main{
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    align-content: center;
    justify-content: space-between;
}

#main a{
    line-height: 32px;
font-size: 22px;
    color: black;
    text-decoration: none;
}

.main-item{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.main-1,.main-2{
    border-right: 1px solid black;
    padding-right: 60px;
}

.main-3{
  padding-right:30px;
}


footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
/*   width: 1519px; */
}

.store-list,.store-content{
  min-height: 68vh;
  padding: 20px 0;
}

.mwl{
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 5px;
    background-color: rgb(14, 14, 14);
    color:white;
  }
  
  .mwl span{
    color:red;
  }

  .mwl pre{
    color: #ef3837;
  }

  a{
    padding: 3px 20px;
    transition: .2s ease-in ;
  }

  a:hover{
    color: #ef3837 !important;
    background-color: #ff31311c;
    border-radius: 10px;
  }

  @media screen and (max-width:1024px) {
    .nav{
        padding: 20px 40px;
    }

    .logo-text{
        font-size: 28px;
    }
    
    .logo-img{
        height: 48px;
    }
    
    .kalvi-logo{
        height: 28px;
    }

    .nav-links{
        font-size: 14px;
    }

    #main a{
    font-size: 20px;
    }

    .main-1,.main-2{
        border-right: 1px solid black;
        padding-right: 25px;
    }
  }

  @media screen and (max-width:768px){
    .nav{
        padding: 20px;
    }

    .logo-text{
        font-size: 22px;
    }
    
    .logo-img{
        height: 38px;
    }
    
    .kalvi-logo{
        height: 20px;
    }

    .nav-links{
        font-size: 12px;
    }

    .hero-text{
        font-size: 32px;
    }

    #main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 40px;
        gap:20px;
    }
    
    #main a{
    font-size: 16px;
    }

    .main-1,.main-2{
        border-right: none;
        padding-right: 0;
    }

    
  }
  @media screen and (max-width: 653px){
      .nav-links,.nav .kalvi-logo{
          display: none;
      }
  
      .hemb{
          display: flex;
      }
  
      #hero{
          padding:30px 50px;
      }
  
      .hero-text{
          font-size: 28px;
      }
  
      #main{
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      #main a{
      font-size: 16px;
      }
  
      .main-3{
        align-items:none;
      }
  
      .box{
          position: relative;
          width: 300px;
          height: 150px;
          margin: 3px 10px;
          overflow: hidden;
          border-radius: 15px;
          box-shadow: 0 1px 2px grey;
          background-color: rgb(243,240,240); 
      }
      .white{
          position: absolute;
          display: flex;
          justify-content: center;
          bottom: 0px;
          align-items: center;
          border-radius: 0 0 15px 15px;
          background-color: white;
          width: 100%;
          height: 20%;
          z-index: 2;
      }
      .white p{
          text-align: center;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 0.8em;
          color: rgb(56,56,56);
          letter-spacing: 0.7px;
      }
  }

  @media screen and (max-width:480px){
    .nav-links,.nav .kalvi-logo{
        display: none;
    }

    .hemb{
        display: flex;
    }

    #hero{
        padding:30px 50px;
    }

    .hero-text{
        font-size: 28px;
    }

    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main a{
    font-size: 16px;
    }

    .main-3{
      align-items:none;
    }

    .box{
        position: relative;
        width: 300px;
        height: 150px;
        margin: 3px 10px;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 1px 2px grey;
        background-color: rgb(243,240,240); 
    }
    .white{
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 0px;
        align-items: center;
        border-radius: 0 0 15px 15px;
        background-color: white;
        width: 100%;
        height: 20%;
        z-index: 2;
    }
    .white p{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.8em;
        color: rgb(56,56,56);
        letter-spacing: 0.7px;
    }
  }

  @media screen and (max-width:330px){
    footer{
        flex-direction: column;
    }
  }




/*Menu styling*/

/* .menu{
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: column;
} */


.menu img{
/*   max-width: 95%; */
  padding:10px 0;
  max-height: 100vh;
  max-width: 100%
}

.store-content{
  padding: 20px 10px;

}

/* location template styling  */

.stores{
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    align-content: center;
    justify-content: space-between;
}
.stores a{
    line-height: 32px;
font-size: 22px;
    color: black;
    text-decoration: none;
}

/* Promotions */

#offers{
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.storeoffers{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.offers1{
    display: flex;
    flex-direction: column;
}

.offers2{
    display: flex;
    flex-direction: column;
}

.off-img{
  width: 150px;
}

.storeoffers a{
  text-decoration: none;
  color: black;
}

.head{
  font-size: 15px;
  text-align: center;
}

.para{
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

